h1{
    background-color: greenyellow;
    color: grey;
    margin: 0px;
}
body {
    background-color: yellow;
}
.zero {
    height: 300px;
    width: 150px;
    background-image: url(./img/索隆.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}